.crimson {
    font-family: 'Crimson Text', serif !important;
}

.dancing {
    font-family: 'Dancing Script', cursive;
}

.gloria {
    font-family: 'Gloria Hallelujah', cursive;
}

.inconsolata {
    font-family: 'Inconsolata', monospace;
}

.sofia {
    font-family: 'Sofia', cursive;
}