* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia', sans-serif;
}

body {
    background-image: url("images/background-image.jpg");
    background-size: cover;
    overflow: hidden;
}